* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

.grandParentComponent {
    /* width: 100%;
    display: flex; */
    justify-content: center;
    margin: 0 auto;
    width: 70vw;
    height: 85vh;
    display: flex;
    justify-content: space-evenly;


}

.parentNavBarComponent {
height: 100px;
width: 85%;
display: flex;

}

.title {
margin: 0 auto;
width: 52vw;
background-color: black;
color: white;
}

#subTitle {
    margin: 0 auto;
    width: 70vw;
    font-size: 5vh;
    text-align: center;
}

.subParentNavBarComponent {
    height: 80vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.avatarUser {
    height: 40vh;
    width: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-style: solid;
    border-color: black;
}

.titleComponent {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-style: solid;
    border-color: black;
}